html{
    background-color:#b3c0c9;
}


header{
    border: 1px solid;
    margin: 245px;
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: blue;
    padding: 30px;
    width: 788px;
    height: 200px;



    
}
.begin{
    font-family: 'ProximaNova', Futura, sans-serif;
    color: white;
    
}
#SName{
    position: relative;
    left: 143px;
    top: 127px;
}

#WebName{
    position: relative;
    left: 145px;
    top: 110px;
}


h2{
    font-weight: lighter;
}

.boxTwo{
    border: solid 1px;
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: auto;
    position: absolute;
    top: 163px;
    left: 263px
}


.box3 p{
    color: black;
    top: 247px;
    left: 785px;
    font-family: sans-serif;
    border: 10px;
    background-color: white;
    padding: 6px;
    margin: 5px;
    height: 14px;
    width: 44px;
    text-align: right;
    font-weight: bold;
    position: absolute;
}


.box4 p{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    background-color: white;
    width: 194px;
    height: 14px;
    padding: 6px;
    margin: 7px;
    text-align: right;
    position: absolute;
    left: 850px;
    top: 245px;
    word-spacing: 7px
}

.box5 p{
    position: relative;
    top: 103px;
    right: 30px;
    word-spacing: 15px;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    width: 830px;
    height: 17px;
    margin: 0px;
}
.leftcolumn {
    float: left;
    width: 328px;
    background-color:white ;
    padding: 10px;
    border: aqua 10px solid;
    box-sizing: border-box;
    position: relative;
    left: 5px;
    top: 5px;
}
.rightcolumn{
    float: right;
    width: 512px;
    background-color: white;
    padding: 10px;
    border: aqua 10px solid;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    left: 10px;
}
.row{
    content: "";
    display: table;
    clear: both;
    margin: auto;
}
h3{
    padding: 10px;
    text-align: center;

}
p{
    font-family: sans-serif;
}
